.techs {

  float: left;
  width: 66%;

  md-card {
    width: 10%;


  	md-card-content.server {

	    p {

    		a {
    			display: block;
    			font-size: 0;
		  		width: 50px;
    			height: 75px;
    			background: rgba(0,0,0,0) url('../assets/images/icons_computer_hardware.jpg') no-repeat scroll -125px -680px;
    		}
        span  {
          font-family: 'Roboto Slab', serif;
          font-weight: 600;
          font-style: italic;
          font-size: 12px;       
        }
    	}
	  }
  }
}

.detail  {
  float: right;
  display: inline;
  width: 25%;
  md-card  {
    md-card-content.closing p {
      float: right;
      width: 25px;
      background: rgba(0,0,0,0) url('../assets/images/close-icon.png') no-repeat;
      font-size: 0;
      width: 20px;
      height: 20px;
    }
    md-card-content.server-data p {
      font-family: 'Roboto Slab', serif;
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
    }
    md-card-content.server-data p span.label {
      font-weight: 600;
      font-style: italic;
      text-transform: uppercase;
    }
  }
}
